<|
    "cloud" -> "https://www.wolframcloud.com",
    "user" -> "user@example.com",
    "pass" -> "password",
    "token" -> "webhose.io-access-token",
    "terms" -> {
        "Mathematica"
    },
    "admins" -> {},
    "recipients" -> {}
|>
